#pictures{
display: flex;
flex-wrap: wrap;
justify-content: center;
/* width: 200px; */
}
img{
    width: 300px;
    height: 300px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.circle1{
    background-color: rgb(8, 94, 8);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    left: 0%;
    }


.card{
border: 1px solid black;
text-align: center;
margin: 5px;
}

